.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
  text-align: center;
}
.container h1 {
  font-size: 3rem;
}
.rollDiceFace {
  margin: 3rem;
  font-size: 8rem;
}
button {
  margin: auto;
  width: 160px;
  height: 70px;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 2rem;
}
button:hover {
  transform: scale(120%);
}
button:active {
  transform: scale(110%);
}
span {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
}
.listRollHistory {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listRollHistory p {
  background-color: rgb(218, 218, 218);
  border-radius: 1rem;
  width: 50%;
  margin: 0.5rem;
  box-shadow: 2px 2px 5px rgb(94, 94, 94);
}